body{
            background-color:beige;
        }
        h1{
            color: palevioletred;
            text-align: center;
        }
        p{
            color:azure(32,28,28)
                }


        
